<div class="well well-sm">
	<h4>{{testGuideBasic[currentQuestion].simple_question.name}}</h4>
	<h6>
		<span ng-show="testGuideBasic[currentQuestion].simple_question.media" ng-click="showImage()">
			{{ImageQuestionMessage}}
		</span>
	</h6>
</div>

<div class="show-image" ng-show="imageQuestion">
	<img ng-src="images/{{testGuideBasic[currentQuestion].simple_question.media}}"/>
</div>

<div ng-repeat="alternative in testGuideBasic[currentQuestion].simple_question.alternatives">
	<!-- More than 1 correct answer -->
	<div ng-show="testGuideBasic[currentQuestion].simple_question.number_corrects>1">
		<div class="checkbox">
  		<label>
    		<input type="checkbox" value="">
    		{{alternative.name}}
  		</label>
		</div>
	</div>
	
	<!-- Only 1 correct answer -->
	<div ng-show="testGuideBasic[currentQuestion].simple_question.number_corrects=1">
		<div class="radio">
		  <label>
		    <input type="radio" name="answerOptions" id="optionsRadios1" value="option1">
		    {{alternative.name}}
		  </label>
		</div>
	</div>

</div>


<div class="text-center">
	<div class="btn btn-primary" role="button" ng-click="nextStepBasic()">{{textBasicButton}}</div>
</div>