<div class="row">
    <div class="thumbnail">
      <img ng-src="images/{{pdv.media}}">
      <div class="caption">
        <h3>{{pdv.name}}<small class="pull-right" ng-click="backAnalysis()">Seleção de Pontos</small></h3>
        <p>{{pdv.statement}}</p>
          <div class="row" style="padding-top: 10px;">
            <div class="pull-left" style="margin-left: 5px;">
              <button type="button" class="btn btn-primary btn-sm" ng-click="showAnalysis(3)">Análise de Cenários</button>
            </div>
            <div class="pull-right" style="margin-right: 5px;">
              <button type="button" class="btn btn-primary btn-sm" ng-click="showAnalysis(4)">Plano de Ação</button>
            </div>
          </div>
      </div>
    </div>
</div>