<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <div class="thumbnail">
      <img src="images/yeoman.png">
      <div class="caption">
        <span class="glyphicon glyphicon-chevron-left pull-left" ng-click="backAnalysis()"></span>
        <h3>{{pdv.name}}</h3>
        <p>{{pdv.statement}}</p>
          <div class="row" style="padding-top: 10px;">
            <div class="pull-left" style="margin-left: 5px;">
              <button type="button" class="btn btn-primary btn-sm" ng-click="showAnalysis(3)">Análise de Cenários</button>
            </div>
            <div class="pull-right" style="margin-right: 5px;">
              <button type="button" class="btn btn-primary btn-sm" ng-click="showAnalysis(4)">Plano de Ação</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>