<div class="jumbotron" ng-show="level==0">

  <p class="bg-primary">Sejam bem vindos! Ao jogo copa de execução da coca-cola Brasil</p>

  <p class="bg-primary">Aqui vocês poderão exercitar seua conhecimntos sobre execução e demonstrar o quanto cada um domina esse jogo</p>

  <p class="bg-primary">E aí, estão prontos? Então é só clicar no botão abaixo e começar a jogar</p>

  <p><a class="btn btn-lg btn-success" ng-click="startGame()">Começar o jogo<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row" style="text-align: center; padding-top: 10px;" ng-show="level>0 && level<4">
	<ul class="nav nav-pills" style="display: inline-block;">
	  <li ng-class="{'active': level==1}"><a href="" ng-click="showLevel(1)" style="padding: 10px 10px;">Time</a></li>
	  <li ng-class="{'active': level==2}"><a href="" ng-click="showLevel(2)" style="padding: 10px 10px;">Membros</a></li>
	  <li ng-class="{'active': level==3}"><a href="" ng-click="showLevel(3)" style="padding: 10px 10px;">Jogo</a></li>
	</ul>
</div>

<div class="row" style="padding-top: 5px;">
	<div class="container">
		<div at-team ng-show="level==1"></div>
		<div at-members ng-show="level==2"></div>
		<div at-game ng-show="level==3"></div>
		<div at-finish-game ng-show="level==4"></div>
	</div>
<div>