<div class="jumbotron" ng-show="level==1">

  <p class="bg-primary">Sejam bem vindos! Ao jogo copa de execução da coca-cola Brasil</p>

  <p class="bg-primary">Aqui vocês poderão exercitar seua conhecimntos sobre execução e demonstrar o quanto cada um domina esse jogo</p>

  <p class="bg-primary">E aí, estão prontos? Então é só clicar no botão abaixo e começar a jogar</p>

  <p><a class="btn btn-lg btn-success" ng-click="startGame()">Começar o jogo<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div at-team ng-show="level==2"></div>
<div at-membersng-show="level==3"></div>
<div at-first-level ng-show="level==4"></div>
<div at-second-team ng-show="level==5"></div>
